.lobby-page {
  height: 600px;
  border: 1px solid rgba(161, 161, 161, 0.6);
}

.chat-section {
  border-right: 1px solid rgba(161, 161, 161, 0.6);
  height: 100%;
}

.game-section {
  height: 100%;
}

app-chat {
  height: 100%;
}
