<div class="row custom-row title">
  <p *ngIf="currentUser.Room_id == 1;">Players Online</p>
  <p *ngIf="currentUser.Room_id != 1;">Players Available for Challenge</p>
</div>

<!--Online Player List-->
<div class="player-list row">
  <!--If players found-->
  <div class="row custom-row" *ngFor="let player of onlinePlayers">
    <p (click)="openOutgoingModal(player.id, player.Screen_Name)">
      {{ player.Screen_Name }}
    </p>
  </div>
  <!--If no players are online-->
  <div class="row custom-row" *ngIf="onlinePlayers.length===0">
    <p>
      No players found
    </p>
  </div>
</div>

<!--Modals for outgoing and incoming challenges-->
<div class="row">

  <app-outgoing-challenge
    *ngIf="isOutgoingChlgDisplayed"
    [challengee]="challengee"
    [seconds_remaining]="outgoingSecondsRemaining"
    [challengeId]="outgoingChallengeId"
    (cancel)="cancelChallenge()">
  </app-outgoing-challenge>

  <app-incoming-challenge
    *ngIf="isIncomingChlgDisplayed"
    [challengeId]="incomingChallengeId"
    [challenger]="challenger"
    [seconds_remaining] = "incomingSecondsRemaining"
    (close)="onIncomingChallengeResponse($event)"
  >
  </app-incoming-challenge>

</div>

